<#include "/macro.include"/>
<#assign className = table.className>
<#assign classNameFirstLower = table.classNameFirstLower>
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<#macro mapperEl value>${r"#{"}${value}}</#macro>
<#macro namespace>${className}.</#macro>
<#assign   ids="$\{ids}" />
<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="${basepackagedao}.${className}Dao">

    <resultMap id="RM_${className}" type="${basepackage}.${className}">
        <#list table.columns as column>
        <result property="${column.columnNameLower}" column="${column.sqlName}"/>
        </#list>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
        <#list table.columns as column>${table.sqlName}.${column.sqlName}<#if column_has_next>, </#if></#list>
        ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="${table.idColumn.columnNameFirstLower}">
    <![CDATA[
        INSERT INTO ${table.sqlName} (
        <#list table.columns as column>
            ${table.sqlName}.${column.sqlName} <#if column_has_next>,</#if>
        </#list>
        ) VALUES (
        <#list table.columns as column>
            <#if column.sqlName == "create_time" || column.sqlName == "update_time">now()<#if column_has_next>,</#if><#else><@mapperEl column.columnNameFirstLower/><#if column_has_next>,</#if></#if>
        </#list>
        )
    ]]>
    </insert>

    <!-- batch-insert-Object -->
    <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO ${table.sqlName} (
            <#list table.columns as column>
                ${table.sqlName}.${column.sqlName} <#if column_has_next>,</#if>
            </#list>
        ) VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
                <#list table.columns as column>
                <#if column.sqlName == "create_time" || column.sqlName == "update_time">now()<#if column_has_next>,</#if><#else><@mapperEl "item."+column.columnNameFirstLower/><#if column_has_next>,</#if></#if>
                </#list>
               )
        </foreach>
    </insert>

    <sql id="update_sql">
        <set>
            <#list table.notPkColumns as column>
                <#if column.isDateTimeColumn && column.sqlName != "create_time" && column.sqlName != "update_time">
                    <if test="${column.columnNameFirstLower} != null">
                         ${table.sqlName}.${column.sqlName} = <@mapperEl column.columnNameFirstLower/> <#if column_has_next>,</#if>
                    </if>
                </#if>
                <#if column.isNumberColumn>
                    <if test="${column.columnNameFirstLower} != null">
                        ${table.sqlName}.${column.sqlName} = <@mapperEl column.columnNameFirstLower/> <#if column_has_next>,</#if>
                    </if>
                </#if>
                <#if column.isStringColumn>
                    <if test="${column.columnNameFirstLower} != null and ${column.columnNameFirstLower} != ''">
                     ${table.sqlName}.${column.sqlName} = <@mapperEl column.columnNameFirstLower/> <#if column_has_next>,</#if>
                    </if>
                </#if>
            </#list>

        </set>
    </sql>

    <update id="update" >
            UPDATE  ${table.sqlName}
        <include refid="update_sql" />
            WHERE
                <#list table.compositeIdColumns as column>
                    ${table.sqlName}.${column.sqlName} = <@mapperEl column.columnNameLower/> <#if column_has_next> AND </#if>
                </#list>
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM ${table.sqlName} WHERE
        <#list table.compositeIdColumns as column>
        ${table.sqlName}.${column.sqlName} = <@mapperEl 'id'/> <#if column_has_next> AND </#if>
        </#list>
    ]]>
    </delete>

    <delete id="delete_batch_list">
        DELETE FROM ${table.sqlName} WHERE id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            ${r"#{item}"}
        </foreach>
    </delete>

    <select id="getById" resultMap="RM_${className}">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM ${table.sqlName} 
            WHERE 
                <#list table.compositeIdColumns as column>
                ${table.sqlName}.${column.sqlName} = <@mapperEl 'id'/> <#if column_has_next> AND </#if>
                </#list>    
        ]]>
    </select>

    <sql id="leftJoin_on">
        <if test="leftJoinDTO != null">
            left join <@jspEl 'leftJoinDTO.leftTableName'/> on <@jspEl 'leftJoinDTO.leftTableName'/>.<@jspEl 'leftJoinDTO.leftColumn'/> = <@jspEl 'leftJoinDTO.rightTableName'/>.<@jspEl 'leftJoinDTO.rightColumn'/>
        </if>
    </sql>
    <sql id="findPage_where">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
            <if test="leftJoinDTO != null and leftJoinDTO.targetValue !=null">
                AND <@jspEl 'leftJoinDTO.leftTableName'/>.<@jspEl 'leftJoinDTO.targetColumn'/> = <@jspEl 'leftJoinDTO.targetValue'/>
            </if>
               <#list table.columns as column>
            <#if column.sqlName == "status">
            <if test="${column.columnNameFirstLower}Exclude != null">
                AND ${table.sqlName}.${column.sqlName} != <@mapperEl column.columnNameFirstLower+"Exclude"/>
            </if>
            </#if>
               <#if column.isDateTimeColumn>
            <if test="${column.columnNameFirstLower}Begin != null">
                AND ${table.sqlName}.${column.sqlName} >= <@mapperEl column.columnNameFirstLower+"Begin"/>
            </if>
            <if test="${column.columnNameFirstLower}End != null">
                AND ${table.sqlName}.${column.sqlName} &lt;= <@mapperEl column.columnNameFirstLower+"End"/>
            </if>
               <#else>
               <#if column.isNumberColumn>
            <if test="${column.columnNameFirstLower} != null">
                AND ${table.sqlName}.${column.sqlName} = <@mapperEl column.columnNameFirstLower/>
            </if>
               </#if>
            <#if column.isStringColumn>
            <if test="${column.columnNameFirstLower} != null and ${column.columnNameFirstLower} !=''">
                <choose>
                    <when test="selectType['${column.columnNameFirstLower}']==1">
                        AND ${table.sqlName}.${column.sqlName} like CONCAT('%', <@mapperEl column.columnNameFirstLower/>, '%')
                    </when>
                    <otherwise>
                        AND ${table.sqlName}.${column.sqlName} = <@mapperEl column.columnNameFirstLower/>
                    </otherwise>
                </choose>
            </if>
               </#if>
               </#if>
               </#list>
            <if test="ids != null and ids !=''">
                AND id in (${ids})
            </if>
        </where>
    </sql>

    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM ${table.sqlName}
        <include refid="leftJoin_on"/>
        <include refid="findPage_where"/>
    </select>

    <select id="selectListByCondition" resultMap="RM_${className}">
        SELECT <include refid="columns" />
        FROM ${table.sqlName}
        <include refid="leftJoin_on"/>
        <include refid="findPage_where"/>

        <if test="sortStr != null and sortStr != ''">
            ORDER BY <@jspEl 'sortStr'/>
        </if>
        <if test="offset != null and limit != null">
            LIMIT <@jspEl 'offset'/>, <@jspEl 'limit'/>
        </if>
        <if test="offset == null and limit != null">
            LIMIT <@jspEl 'limit'/>
        </if>
    </select>

    <select id="selectIdsByCondition" resultType="long">
        SELECT id
        FROM ${table.sqlName}
        <include refid="findPage_where"/>

        <if test="sortStr != null and sortStr != ''">
            ORDER BY <@jspEl 'sortStr'/>
        </if>
    </select>

    <select id="selectBatchByIds" resultMap="RM_${className}">
        SELECT <include refid="columns" />
        FROM ${table.sqlName}
        WHERE id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            ${r"#{item}"}
        </foreach>
    </select>

</mapper>

