<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.example.demo.dao.UserRoleDao">

    <resultMap id="RM_UserRole" type="com.example.demo.model.UserRole">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="role" column="role"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
        user_role.id, user_role.uid, user_role.role
        ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO user_role (
        <set>
                <if test="id != null">
                    user_role.id ,
                </if>
                <if test="uid != null">
                    user_role.uid ,
                </if>
                <if test="role != null">
                    user_role.role 
                </if>
        </set>
        ) VALUES (
        <set>
                <if test="id != null">
                    #{id},
                </if>
                <if test="uid != null">
                    #{uid},
                </if>
                <if test="role != null">
                    #{role}
                </if>
        </set>
        )
    ]]>
    </insert>

    <!-- batch-insert-Object -->
    <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO user_role (
                user_role.id ,
                user_role.uid ,
                user_role.role 
        ) VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
                #{item.id},
                #{item.uid},
                #{item.role}
               )
        </foreach>
    </insert>

    <sql id="update_sql">
        <set>
                    <if test="uid != null">
                        user_role.uid = #{uid} ,
                    </if>
                    <if test="role != null">
                        user_role.role = #{role} 
                    </if>

        </set>
    </sql>

    <update id="update" >
            UPDATE  user_role
        <include refid="update_sql" />
            WHERE
                    user_role.id = #{id} 
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM user_role WHERE
        user_role.id = #{id} 
    ]]>
    </delete>

    <delete id="delete_batch_list">
        DELETE FROM user_role WHERE id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getById" resultMap="RM_UserRole">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM user_role 
            WHERE 
                user_role.id = #{id} 
        ]]>
    </select>

    <sql id="leftJoin_on">
        <if test="leftJoinDTO != null">
            left join ${leftJoinDTO.leftTableName} on ${leftJoinDTO.leftTableName}.${leftJoinDTO.leftColumn} = ${leftJoinDTO.rightTableName}.${leftJoinDTO.rightColumn}
        </if>
    </sql>
    <sql id="findPage_where">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
            <if test="leftJoinDTO != null and leftJoinDTO.targetValue !=null">
                AND ${leftJoinDTO.leftTableName}.${leftJoinDTO.targetColumn} = ${leftJoinDTO.targetValue}
            </if>
            <if test="id != null">
                AND user_role.id = #{id}
            </if>
            <if test="uid != null">
                AND user_role.uid = #{uid}
            </if>
            <if test="role != null">
                AND user_role.role = #{role}
            </if>
            <if test="ids != null and ids !=''">
                AND id in (${ids})
            </if>
        </where>
    </sql>

    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM user_role
        <include refid="leftJoin_on"/>
        <include refid="findPage_where"/>
    </select>

    <select id="selectListByCondition" resultMap="RM_UserRole">
        SELECT <include refid="columns" />
        FROM user_role
        <include refid="leftJoin_on"/>
        <include refid="findPage_where"/>

        <if test="sortStr != null and sortStr != ''">
            ORDER BY ${sortStr}
        </if>
        <if test="offset != null and limit != null">
            LIMIT ${offset}, ${limit}
        </if>
        <if test="offset == null and limit != null">
            LIMIT ${limit}
        </if>
    </select>

    <select id="selectIdsByCondition" resultType="long">
        SELECT id
        FROM user_role
        <include refid="findPage_where"/>

        <if test="sortStr != null and sortStr != ''">
            ORDER BY ${sortStr}
        </if>
    </select>

    <select id="selectBatchByIds" resultMap="RM_UserRole">
        SELECT <include refid="columns" />
        FROM user_role
        WHERE id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>

